
// BASICS
$font-family: 'Roboto', sans-serif;
$font-size: 1rem;
$line-height: $font-size * 1.5;

$font-h1: $font-size * 5;
$font-h2: $font-size * 3;
$font-p: $font-size * 2;

$font-bold: 500;
$font-light: 300;

// COLORS
$color-bg: #fff;
$color-font: #1b1b1b;

$color-purple: #78379d;
$color-white: #fff;

// CARD COLOR
$card-background: rgb(216, 216, 216);
$card-border-radius: 10px; 

// FONT COLOR
// $about-font-color: black;